name: Sync OAS to ReadMe (rdme Github action)
on:
  push:
    branches:
    - main
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: readmeio/rdme@6.5.0
        with:
          rdme: openapi ./petstore.json --key=${{ secrets.README_API_KEY }} --id=${{ secrets.PETSTORE }}
  job2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: readmeio/rdme@6.5.0
        with:
          rdme: openapi ./server-variables.json --key=${{ secrets.README_API_KEY }} --id=${{ secrets.SERVER_VAR }}
  job3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: readmeio/rdme@6.5.0
        with:
          rdme: openapi ./schema-types.yaml --key=${{ secrets.README_API_KEY }} --id=${{ secrets.SCHEMA_TYPES }}
